{% extends "base.html" %}
{% import 'bootstrap_wtf.html' as wtf %}

{% block content %}
<h1>Register</h1>
<form action="" method="post" novalidate enctype="multipart/form-data">
  {{ form.hidden_tag() }}
  <p>
      {{ form.username.label (class="form-label") }}<br>
      {{ form.username(class="form-control", size=32) }}
      {% for error in form.username.errors %}            
      <span style="color: rgba(236, 22, 22, 1);">[{{ error }}]</span>
      {% endfor %}
  </p>
  <p>
    {{ form.email.label (class="form-label") }}<br>
      {{ form.email(class="form-control", size=32) }}
      {% for error in form.email.errors %}
      <span style="color: rgba(236, 22, 22, 0.7);">[{{ error }}]</span>
      {% endfor %}
  </p>
  <p>
    {{ form.password.label (class="form-label") }}<br>
      {{ form.password( class="form-control", size=32) }}
      {% for error in form.password.errors %}
      <span style="color: rgba(236, 22, 22, 0.7);">[{{ error }}]</span>
      {% endfor %}
  </p>
  <p>
    {{ form.password2.label( class="form-label") }}<br>
      {{ form.password2( class="form-control", size=32) }}
      {% for error in form.password2.errors %}
      <span style="color: rgba(236, 22, 22, 0.7);">[{{ error }}]</span>
      {% endfor %}
  </p>
  
  <p>
    {{ form.about.label( class="form-label") }}<br>
      {{ form.about( class="form-control") }}
      {% for error in form.about.errors %}
      <span style="color: rgba(236, 22, 22, 0.7);">[{{ error }}]</span>
      {% endfor %}
  </p>
  <p>
    {{ form.profile_picture.label( class="form-label") }}<br>
      {{ form.profile_picture( class="form-control") }}
      {% for error in form.profile_picture.errors %}
      <span style="color: rgba(236, 22, 22, 0.7);">[{{ error }}]</span>
      {% endfor %}
  </p>
  <p>{{ form.submit( class=" btn btn-success btn-sm") }}</p>
</form>

{{ ckeditor.load() }}
{{ ckeditor.config(name ='about') }}
{{ ckeditor.load(pkg_type='full') }}
{% endblock %}